
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">

<!-- Head Partial -->
@await Html.PartialAsync("~/Views/MemberLayoutPartial/_HeadPartial.cshtml")


<body class="g-sidenav-show  bg-gray-100">

    <!-- Navbar Partial -->
    @await Html.PartialAsync("~/Views/MemberLayoutPartial/_NavbarPartial.cshtml")
    
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">

        <!-- Navbar2 Partial -->
        @await Html.PartialAsync("~/Views/MemberLayoutPartial/_Navbar2Partial.cshtml")

        <div class="container-fluid py-4">
            @RenderBody()

            <!-- Footer Partial -->
            @await Html.PartialAsync("~/Views/MemberLayoutPartial/_FooterPartial.cshtml")
        </div>
    </main>
    <!-- RightBar Partial -->
    @await Html.PartialAsync("~/Views/MemberLayoutPartial/_RightBarPartial.cshtml")
   
    <!-- Scripts Partial -->
    @await Html.PartialAsync("~/Views/MemberLayoutPartial/_ScriptsPartial.cshtml")
</body>

</html>