
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">

<!-- Head Partial -->
<div>@await Html.PartialAsync("~/Views/LayoutPartial/_HeadPartial.cshtml")</div>

<body>
    <!-- Navbar Partial -->
    <div>@await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")</div>

    <!-- Render -->
    @RenderBody()

    <!-- Footer Partial -->
<div>@await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartial.cshtml")</div>

    <!-- Script Partial -->
<div>@await Html.PartialAsync("~/Views/LayoutPartial/_ScriptPartial.cshtml")</div>


</body>
</html>

